.no-border{
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.modal{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.modal-dialog{
    display: flex !important;
    width: 800px !important;
    max-width: 1000px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.modal-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0px !important; 
}

.modal-content{ 
    background-color: #001426 !important; /* Dark background color in modal, it is a hidden class from bootstrap*/
}

.modal-header{
    padding: 40px 40px 20px 40px !important;
}

.modal-body{
    padding: 0px 40px 0px 40px !important;
}

.modal-footer{
    padding: 20px 40px 40px 40px !important;

}
.save-button {
    margin-left: 20px !important;
    height: 80% !important;
    width: 20% !important;
    background-color: #8ecc51 !important;
    color: #001426 !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    border-color: #8ecc51 !important;
}

.save-button:hover {
    background-color: #6b9c3d !important; /* Slightly darker background color on hover */
    color: #ffffff !important;
}

.close-button {
    height: 80% !important;
    width: 20% !important;
    background-color: #8ecc51 !important;
    color: #001426 !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    border-color: #8ecc51 !important;
}

.close-button:hover {
    background-color: #6b9c3d !important; /* Slightly darker background color on hover */
    color: #ffffff !important;
}