.page-container {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children vertically */
    padding: 70px;
    height: 100vh; /* Full viewport height */
}

.no-margins{
    margin: 0px !important;
    padding: 0px !important;
}

.col { 
    align-items: center;
}

.feeds-title{
    font-size: 2.5rem;
    font-weight: 500;
    color: #f5f3ed;
    margin: 0px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

.add-feed-button {
    height: 80% !important;
    width: 25% !important;
    background-color: #8ecc51 !important;
    color: #001426 !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    border-color: #8ecc51 !important;
}

.add-feed-button:hover {
    background-color: #6b9c3d !important; /* Slightly darker background color on hover */
    color: #ffffff !important;
}

.feeds-list {
    flex: 1; /* Fill remaining space */
    margin-top: 30px !important;;
    overflow-y: auto; /* Add scroll when content exceeds the height */
    background-color: #f5f3ed !important;
    border-radius: 10px !important;
    padding: 20px; /* Add padding as needed */
}

.add-feed-modal{
    background-color: #001426  !important;
}

.modal-title{
    color : #f5f3ed !important;
}